{% extends 'layout.html' %}
{% load static %}

{% block main %}
<h1>Главная</h1>
<div class="image-blurred-edge"></div>
<p>
    Языку программирования C# в июне 2023 года исполняется 23 года, но он и не планирует сдавать свои позиции. Детище
    команды разработчиков Microsoft на протяжение целых двух десятилетий остается одним из самых популярных и в то же
    время простых в изучении языков.
    Именно разработчики на C# ответственны за создание огромного количества софта, что мы используем ежедневно на
    протяжении многих лет. А если вы уже владеете такими языками программирования, как C++ или Java, то вам не составит
    труда начать работать с C#. Кроме того, этот язык поддерживается и развивается непосредственно компанией Microsoft –
    это надежная гарантия его будущей востребованности.
</p>
<p>
    C#-разработчик — кто это и чем занимается?
    C#-разработчик — это программист, который разрабатывает веб-сервисы и приложения, также занимаются геймдизайном,
    разработкой десктопных и мобильных приложений, сервисов и других разновидностей программного обеспечения, используя
    для этого язык программирования C#. Этот язык поддерживается компанией Microsoft, что делает его практически
    универсальным, если речь идет о создании приложений и программ для большинства девайсов.
</p>


{% endblock %}