{% extends 'layout.html' %}
{% load static %}
{% block main %}
<h1>Топ 10 навыков по годам</h1>
<section class="yearList">
    {% for sheet in workbook %}
    <div class="yearTable">
        <h2>{{ sheet.title }}</h2>
        <table>
            {% for cells in sheet.values %}
            <tr>
                {% for value in cells %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</section>
{% endblock %}